.contact_txt {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #686868;
}
.contact_txt a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #686868;
}